<a href="https://colab.research.google.com/github/rifkybujana/KOPSI/blob/Research%2FModel/FacQA_Analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INSTALLATION

In [ ]:
!pip install tokenizers

In [ ]:
!pip install transformers

## CODE

Import required libraries

In [ ]:
import torch
import pandas as pd
import numpy as np
import os
import json

from ast import literal_eval

from transformers import DistilBertTokenizerFast
from transformers import DistilBertForQuestionAnswering

from transformers import AdamW

from torch.utils.data import DataLoader

### Analyzing FacQA dataset

import train and eval dataset

In [ ]:
train = pd.read_csv('train_preprocess.csv')
valid = pd.read_csv('val_preprocess.csv')

analalyze train dataset

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   question   2495 non-null   object
 1   passage    2495 non-null   object
 2   seq_label  2495 non-null   object
dtypes: object(3)
memory usage: 58.6+ KB

In [ ]:
train.describe()

                                                 question  ...                                          seq_label
count                                                2495  ...                                               2495
unique                                               2412  ...                                               2077
top     ['Siapa', 'nama', 'presiden', 'Indonesia', 'se...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
freq                                                    7  ...                                                  6

[4 rows x 3 columns]

In [ ]:
train.head()

                                            question  ...                                          seq_label
0  ['Kelompok', 'apakah', 'yang', 'menyatakan', '...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
1  ['Di', 'pulau', 'manakah', ',', 'PT', 'Mutiara...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
2  ['Apakah', 'warna', 'pasir', 'pada', 'pesisir'...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
3  ['Apa', 'nama', 'perusahaan', 'China', 'yang',...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
4  ['Siapa', 'yang', 'akan', 'memindahkan', 'Patu...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...

[5 rows x 3 columns]

In [ ]:
type(train['question'][0])

str

As you can see, the dataset data type are string, but we want them to be a list, not a string, we need to remove all the brackets, quotation marks, and the coma's. separate every word, and convert it into an array using `literal_eval` function

In [ ]:
train['question'] = train['question'].apply(literal_eval)
train['passage'] = train['passage'].apply(literal_eval)
train['seq_label'] = train['seq_label'].apply(literal_eval)

In [ ]:
valid['question'] = valid['question'].apply(literal_eval)
valid['passage'] = valid['passage'].apply(literal_eval)
valid['seq_label'] = valid['seq_label'].apply(literal_eval)

after applied all the dataset values with the `literal_eval` function, we can see, that the dataset datatype changed into a list

In [ ]:
print(f"""train dataset data type: {type(train['question'][0])}""")
print(f"""valid dataset data type: {type(valid['question'][0])}""")

train dataset data type: <class 'list'>
valid dataset data type: <class 'list'>

But the data in `seq_label` collumn, is still hard to understand, what does it mean, and how the model should read it, so we need to convert it.

In [ ]:
print(train['seq_label'][0])

['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B', 'I', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

In [ ]:
def seq_to_index(seq):
    result = []
    for i in range(len(seq)):
        if seq[i] != 'O':
            result.append(i)

    result = [result[0], result[-1]]

    return result

train['seq_label'] = train['seq_label'].apply(seq_to_index)
valid['seq_label'] = valid['seq_label'].apply(seq_to_index)

In [ ]:
train.head()

                                            question  ... seq_label
0  [Kelompok, apakah, yang, menyatakan, bertanggu...  ...  [10, 11]
1  [Di, pulau, manakah, ,, PT, Mutiara, Indopearl...  ...  [30, 31]
2  [Apakah, warna, pasir, pada, pesisir, pantai, ...  ...  [19, 20]
3  [Apa, nama, perusahaan, China, yang, bekerja, ...  ...   [9, 12]
4  [Siapa, yang, akan, memindahkan, Patung, Karti...  ...  [18, 20]

[5 rows x 3 columns]

In [ ]:
valid.head()

                                            question  ... seq_label
0     [Apa, nama, latin, dari, harimau, Sumatera, ?]  ...  [14, 16]
1  [Berapa, penumpang, yang, turut, dalam, penerb...  ...   [9, 10]
2     [Kepala, Badan, apakah, Mohamed, ElBaradei, ?]  ...  [14, 20]
3  [Berapa, kalikah, Lin, Dan, gagal, memainkan, ...  ...  [33, 34]
4  [Apakah, nama, fakultas, tempat, Drh, Yuda, He...  ...  [11, 13]

[5 rows x 3 columns]

In [ ]:
train.rename(columns = {'seq_label':'answer_index'}, inplace = True)
valid.rename(columns = {'seq_label':'answer_index'}, inplace = True)

In [ ]:
train.rename(columns = {'passage':'context'}, inplace = True)
valid.rename(columns = {'passage':'context'}, inplace = True)

In [ ]:
print(train.columns)
print(valid.columns)

Index(['question', 'context', 'answer_index'], dtype='object')
Index(['question', 'context', 'answer_index'], dtype='object')

In [ ]:
def index_to_answer(context, index):
    result = []
    for i in range(index[0], index[1] + 1):
        result.append(context[i])

    result = ' '.join(result)

    return result

In [ ]:
def convert_index(context, index):
    result = []
    for i in range(len(context)):
        result.append(index_to_answer(context[i], index[i]))

    return result

In [ ]:
train_answer = convert_index(train['context'], train['answer_index'])
valid_answer = convert_index(valid['context'], valid['answer_index'])

In [ ]:
train['answer'] = train_answer
valid['answer'] = valid_answer

In [ ]:
train.head()

                                            question  ...                            answer
0  [Kelompok, apakah, yang, menyatakan, bertanggu...  ...                Hezb-ul Mujahedeen
1  [Di, pulau, manakah, ,, PT, Mutiara, Indopearl...  ...                    Pulau Makassar
2  [Apakah, warna, pasir, pada, pesisir, pantai, ...  ...                       putih halus
3  [Apa, nama, perusahaan, China, yang, bekerja, ...  ...  Sinopec Southwest Petroleum Biro
4  [Siapa, yang, akan, memindahkan, Patung, Karti...  ...            Pemerintah DKI Jakarta

[5 rows x 4 columns]

In [ ]:
valid.head()

                                            question  ...                                    answer
0     [Apa, nama, latin, dari, harimau, Sumatera, ?]  ...               Panthera tigris sumatrensis
1  [Berapa, penumpang, yang, turut, dalam, penerb...  ...                              84 penumpang
2     [Kepala, Badan, apakah, Mohamed, ElBaradei, ?]  ...  Badan Tenaga Atom Internasional ( IAEA )
3  [Berapa, kalikah, Lin, Dan, gagal, memainkan, ...  ...                                   15 kali
4  [Apakah, nama, fakultas, tempat, Drh, Yuda, He...  ...                 Fakultas Kedokteran Hewan

[5 rows x 4 columns]

In [ ]:
train['question'] = train['question'].apply(np.array)
train['context'] = train['context'].apply(np.array)
train['answer_index'] = train['answer_index'].apply(np.array)

In [ ]:
valid['question'] = valid['question'].apply(np.array)
valid['context'] = valid['context'].apply(np.array)
valid['answer_index'] = valid['answer_index'].apply(np.array)

In [ ]:
len(train), len(valid)

(2495, 311)

convert dataset into json

In [ ]:
def to_json(data):
    return [{
        'context': ' '.join(data['context'][i]),
        'qas': [{
            'answers': [{
                'answer_start': data['answer_index'][i][0].item(),
                'text': data['answer'][i]
            }],
            'id': f'FacQA-{i}',
            'question': ' '.join(data['question'][i])
        }]
    } for i in range(len(data))]

In [ ]:
train_json = to_json(train)

In [ ]:
valid_json = to_json(valid)

In [ ]:
with open('train_json.json', 'w') as f:
    json.dump(train_json, f)

with open('valid_json.json', 'w') as f:
    json.dump(valid_json, f)