<a href="https://colab.research.google.com/github/rifkybujana/KOPSI/blob/Research%2FModel/FacQA_Analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## INSTALLATION

In [1]:
!pip install tokenizers

Collecting tokenizers
  Downloading https://files.pythonhosted.org/packages/d4/e2/df3543e8ffdab68f5acc73f613de9c2b155ac47f162e725dcac87c521c11/tokenizers-0.10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.3MB)
     |████████████████████████████████| 3.3MB 4.0MB/s
Installing collected packages: tokenizers
Successfully installed tokenizers-0.10.3

In [2]:
!pip install transformers

Collecting transformers
  Downloading https://files.pythonhosted.org/packages/fd/1a/41c644c963249fd7f3836d926afa1e3f1cc234a1c40d80c5f03ad8f6f1b2/transformers-4.8.2-py3-none-any.whl (2.5MB)
     |████████████████████████████████| 2.5MB 2.9MB/s
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (4.5.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from transformers) (3.13)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/75/ee/67241dc87f266093c533a2d4d3d69438e57d7a90abb216fa076e7d475d4a/sacremoses-0.0.45-py3-none-any.whl (895kB)
     |████████████████████████████████| 901kB 13.9MB/s
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.3)
Collecting huggingface-hub==0.0.12
  Downloading https://files.pythonhosted.org/packages/2f/ee/97e253668fda9b17e968b3f97b2f8e53aa0127e8807d24a547687423fe0b/huggingface_hub-0.0.12-py3-none-any.whl
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Installing collected packages: sacremoses, huggingface-hub, transformers
Successfully installed huggingface-hub-0.0.12 sacremoses-0.0.45 transformers-4.8.2

## CODE

Import required libraries

In [3]:
import torch
import pandas as pd
import numpy as np

from ast import literal_eval

from transformers import DistilBertTokenizerFast
from transformers import DistilBertForQuestionAnswering

from transformers import AdamW

from torch.utils.data import DataLoader

### Analyzing FacQA dataset

import train and eval dataset

In [4]:
train = pd.read_csv('train_preprocess.csv')
valid = pd.read_csv('val_preprocess.csv')

analalyze train dataset

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   question   2495 non-null   object
 1   passage    2495 non-null   object
 2   seq_label  2495 non-null   object
dtypes: object(3)
memory usage: 58.6+ KB

In [6]:
train.describe()

                                                 question  ...                                          seq_label
count                                                2495  ...                                               2495
unique                                               2412  ...                                               2077
top     ['Siapa', 'nama', 'presiden', 'Indonesia', 'se...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
freq                                                    7  ...                                                  6

[4 rows x 3 columns]

In [7]:
train.head()

                                            question  ...                                          seq_label
0  ['Kelompok', 'apakah', 'yang', 'menyatakan', '...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
1  ['Di', 'pulau', 'manakah', ',', 'PT', 'Mutiara...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
2  ['Apakah', 'warna', 'pasir', 'pada', 'pesisir'...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
3  ['Apa', 'nama', 'perusahaan', 'China', 'yang',...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...
4  ['Siapa', 'yang', 'akan', 'memindahkan', 'Patu...  ...  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...

[5 rows x 3 columns]

In [8]:
type(train['question'][0])

str

As you can see, the dataset data type are string, but we want them to be a list, not a string, we need to remove all the brackets, quotation marks, and the coma's. separate every word, and convert it into an array using `literal_eval` function

In [9]:
train['question'] = train['question'].apply(literal_eval)
train['passage'] = train['passage'].apply(literal_eval)
train['seq_label'] = train['seq_label'].apply(literal_eval)

In [10]:
valid['question'] = valid['question'].apply(literal_eval)
valid['passage'] = valid['passage'].apply(literal_eval)
valid['seq_label'] = valid['seq_label'].apply(literal_eval)

after applied all the dataset values with the `literal_eval` function, we can see, that the dataset datatype changed into a list

In [11]:
print(f"""train dataset data type: {type(train['question'][0])}""")
print(f"""valid dataset data type: {type(valid['question'][0])}""")

train dataset data type: <class 'list'>
valid dataset data type: <class 'list'>

But the data in `seq_label` collumn, is still hard to understand, what does it mean, and how the model should read it, so we need to convert it.

In [13]:
print(train['seq_label'][0])

['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B', 'I', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']

In [14]:
def seq_to_index(seq):
    result = []
    for i in range(len(seq)):
        if seq[i] != 'O':
            result.append(i)

    result = [result[0], result[-1]]

    return result

train['seq_label'] = train['seq_label'].apply(seq_to_index)
valid['seq_label'] = valid['seq_label'].apply(seq_to_index)

In [17]:
train.head()

                                            question  ... seq_label
0  [Kelompok, apakah, yang, menyatakan, bertanggu...  ...  [10, 11]
1  [Di, pulau, manakah, ,, PT, Mutiara, Indopearl...  ...  [30, 31]
2  [Apakah, warna, pasir, pada, pesisir, pantai, ...  ...  [19, 20]
3  [Apa, nama, perusahaan, China, yang, bekerja, ...  ...   [9, 12]
4  [Siapa, yang, akan, memindahkan, Patung, Karti...  ...  [18, 20]

[5 rows x 3 columns]

In [18]:
valid.head()

                                            question  ... seq_label
0     [Apa, nama, latin, dari, harimau, Sumatera, ?]  ...  [14, 16]
1  [Berapa, penumpang, yang, turut, dalam, penerb...  ...   [9, 10]
2     [Kepala, Badan, apakah, Mohamed, ElBaradei, ?]  ...  [14, 20]
3  [Berapa, kalikah, Lin, Dan, gagal, memainkan, ...  ...  [33, 34]
4  [Apakah, nama, fakultas, tempat, Drh, Yuda, He...  ...  [11, 13]

[5 rows x 3 columns]

In [19]:
train.rename(columns = {'seq_label':'answer_index'}, inplace = True)
valid.rename(columns = {'seq_label':'answer_index'}, inplace = True)

In [21]:
train.rename(columns = {'passage':'context'}, inplace = True)
valid.rename(columns = {'passage':'context'}, inplace = True)

In [22]:
print(train.columns)
print(valid.columns)

Index(['question', 'context', 'answer_index'], dtype='object')
Index(['question', 'context', 'answer_index'], dtype='object')

In [23]:
def index_to_answer(context, index):
    result = []
    for i in range(index[0], index[1] + 1):
        result.append(context[i])

    result = ' '.join(result)

    return result

In [27]:
def convert_index(context, index):
    result = []
    for i in range(len(context)):
        result.append(index_to_answer(context[i], index[i]))

    return result

In [29]:
train_answer = convert_index(train['context'], train['answer_index'])
valid_answer = convert_index(valid['context'], valid['answer_index'])

In [30]:
train['answer'] = train_answer
valid['answer'] = valid_answer

In [31]:
train.head()

                                            question  ...                            answer
0  [Kelompok, apakah, yang, menyatakan, bertanggu...  ...                Hezb-ul Mujahedeen
1  [Di, pulau, manakah, ,, PT, Mutiara, Indopearl...  ...                    Pulau Makassar
2  [Apakah, warna, pasir, pada, pesisir, pantai, ...  ...                       putih halus
3  [Apa, nama, perusahaan, China, yang, bekerja, ...  ...  Sinopec Southwest Petroleum Biro
4  [Siapa, yang, akan, memindahkan, Patung, Karti...  ...            Pemerintah DKI Jakarta

[5 rows x 4 columns]

In [32]:
valid.head()

                                            question  ...                                    answer
0     [Apa, nama, latin, dari, harimau, Sumatera, ?]  ...               Panthera tigris sumatrensis
1  [Berapa, penumpang, yang, turut, dalam, penerb...  ...                              84 penumpang
2     [Kepala, Badan, apakah, Mohamed, ElBaradei, ?]  ...  Badan Tenaga Atom Internasional ( IAEA )
3  [Berapa, kalikah, Lin, Dan, gagal, memainkan, ...  ...                                   15 kali
4  [Apakah, nama, fakultas, tempat, Drh, Yuda, He...  ...                 Fakultas Kedokteran Hewan

[5 rows x 4 columns]